@import "../styles/abstract/variaveis";

@mixin style_calendario_estoque{
    border-radius: 20px;
    flex: 50%;
    padding: $padding-das-telas;
    background-color: $cor-das-tabelas;

    display: flex;
    flex-direction: column;
}

.tela_home{     //parte da tela que divide espaço com o nav / esta _variaveis como _ContainerTela
    @include tela_all;
}
.name{ //esta embutido ao _ContainerTela
    font-weight: $semi-bold;
    margin:0 0 0 1.5rem;
    color: #FFFFFF;
    align-self: flex-start;
}

.tasks{
    flex: 50%;
    width: 100%;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: $cor-das-tabelas;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inner_tasks_btn{
    width: 16rem;
    height:fit-content;
    display: flex;
    justify-content: space-between;
}
.tasks_btn{
    @include titulo;
}
.inner_tasks_show{
    height: 83%;
    width: 100%;
    color: #FFFFFF;
    font-weight: $light;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.tasks_show{
    height: 14.62%;
    width: 100%;
    border-radius: 20px;
    background-color: $cor-fundo-claro;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_2{
    flex: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}
.calendario{
   @include style_calendario_estoque;
   display: flex;
   justify-content: space-between;
}

.calendario_btn{
    @include titulo; 
}

.inner_calendario{
    height: 88%;
    // background-color: aqua;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    overflow-x:scroll;
    gap: 10px;
    
}
.inner_calendario::-webkit-scrollbar{
    height: 5px;
    border-radius: 10px;
}
.inner_calendario::-webkit-scrollbar-thumb{
    background-color:$cor-primaria;
    border-radius: 10px;
}


.calendario_show{
    min-width: 21.36%;
    border-radius: 20px;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    background-color: $cor-fundo-claro;

    display: flex;
    justify-content: center;
    color: #FFFFFF
}

.estoque{
    @include style_calendario_estoque;

   justify-content: space-between;
}

.estoque_btn{
    @include titulo; 
}

.inner_estoque{
    height: 88%;
    // background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.estoque_show{
    @include titulo;
    width: 23.2%;
    height: 12.2%;
    font-weight: 600;
}