$cor-primaria: #4A62BD;
$cor-de-fundo: #17181C;
$cor-das-tabelas:  #111215;
$cor-fundo-claro:   #1B1E27;
$padding-das-telas:1.18%  1.18% 0.79% 1.18%;
$semi-bold: 700;
$light:300;

@mixin tela_all(){      //fundo de toda a tela 
    flex: 95%;
    padding: .5rem 0 .5rem 0;
    
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

@mixin style_itens($largura,$altura){
    border-radius: 20px;
    height: $altura;
    width: $largura;
    padding: $padding-das-telas;
    background-color: $cor-das-tabelas;

    display: flex;
    flex-direction: column;
}

@mixin titulo{
    height: 1.75rem;
    width: 7.5rem;
    border-radius: 20px;
    font-size: 1rem;

    color: #FFFFFF;
    background-color: #1B1E27;
    font-weight: $semi-bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin btn($color,$cor-hover){
    @include titulo;
    background-color: $color;
    width: 40%;
    padding: 0 0.75rem 0 0.75rem;
    font-weight: 600;
    border: 1.5px solid $cor-hover;
    &:hover{
        background-color:$cor-hover;
    }
}