.tela_statics{
    @include tela_all;
    flex-direction: row;
    // align-content: center;
    justify-content: space-around;
}

.container_produtos{
    @include style_itens(62.94%,96.57%);
    justify-content: space-between;
    padding-bottom: 0.89%;
}

.grid_titulo{
    height: 10.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo_produtos{
    @include titulo;
}

.pesquisa_produtos{
    width: 100%;
    height: 1.75rem;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: $light;
    background-color: $cor-fundo-claro;
    &:focus-visible{
        outline: none;
        &::placeholder{
            color: $cor-fundo-claro;
            
        }
    }
}

.hover_produtos{
    @include style_itens(100%,87.5%);
    border-radius: 0;
    padding: 0;
    flex-direction: row;
    gap: 1.25rem;
    overflow-x:auto;
    &::-webkit-scrollbar{
        height: 0.5rem;
        border-radius: 10px;
        // display: contents;
    }
    &::-webkit-scrollbar-thumb{
        background-color:#444E6F;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover{
        // background-color: $cor-primaria;
        background-color:$cor-primaria;
    }

}

.produto{
    @include style_itens(0%,100%);
    background-color: $cor-fundo-claro;
    padding: 0;
    min-width: 26%;
    align-items: center;
    justify-content: space-around;
    
    img{
        height: 180px;
        width: 160px;
        border-radius: 20px;
    }
}

.produto_conteudo{
    @include titulo;
    position: relative;
    background-color: $cor-de-fundo;
    width: 75%;
    padding: 0.25rem 1.5rem 0 1.5rem;
    font-size: 0.75rem;
    font-weight: $light;
    column-gap: 10%;
    [tamanhos]{
        top: -0.5rem;
    }
    

    & > div{
        color: #FFFFFF;
        background-color:$cor-de-fundo;
        position: absolute;
        top: -0.3rem;
        padding: 0 1.25rem 0 1.25rem;
        border-radius: 20px;
        
    }
    
    & > a{
        background-color: $cor-de-fundo;
        padding: 0.15rem 0.35rem 0.15rem 0.35rem;
        border-radius: 20px;

        &:hover{
            background-color: $cor-primaria;
        }
    } 
}


.btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.produto_btn_alterar{
    @include btn($cor-de-fundo,#469f38);
}

.produto_btn_excluir{
    @include btn($cor-de-fundo,#e63946);
}

.container_statics{
    display: flex;
    flex-direction: column;
    height: 96.57%;
    width: 29.94%;
    justify-content: space-between;
}

.null{
    @include style_itens(100%, 48.37%);
}
