@import "../home/home";
    // @import"../home/components/Tarefas/Tarefas";
// @import "./abstract/_navbar.scss"; estilização dele agr está toda em NavLateral.js
@import "./abstract/variaveis";
@import "./abstract/user";
@import "./abstract/_estoque.scss";
@import "./abstract/statics";

.container{     //fundo de toda a tela / Agr está em _variaveis.js
    height: 100vh;
    display: flex;
    background-color: $cor-de-fundo;
}

// *{ esta agr no components/GlobalStyle.js
//     border: 0;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family:Arial, Helvetica, sans-serif;
//     a{
//         text-decoration: none;
//     }
    
// }