@import "../../../styles/abstract/variaveis";

.tasks{
    height: 36.13%;
    width: 95.66%;
    border-radius: 20px;
    padding: $padding-das-telas;
    background-color: $cor-das-tabelas;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inner_tasks_btn{
    width: 16rem;
    height:fit-content;
    display: flex;
    justify-content: space-between;
}
.tasks_btn{
    @include titulo;
}
.inner_tasks_show{
    height: 83%;
    width: 100%;
    color: #FFFFFF;
    font-weight: $light;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.tasks_show{
    height: 14.62%;
    width: 100%;
    border-radius: 20px;
    background-color: $cor-fundo-claro;
    
    display: flex;
    justify-content: center;
    align-items: center;
}